:root {
  --input-label-focused-size: 40%;
}

.input,
.label {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.2s, color 0.2s, left 0.2s;
}

.input {
  font-size: 16px;
  padding: 10px;
  border: none;
  z-index: 2;
  background-color: transparent;
  position: relative;
    transition: padding 0.2s, background 0.2s;
}

.input:focus {
  background-color: var(--white-smoke);
  padding-left: calc(var(--input-label-focused-size) + 10px);
}

.input:focus + .label {
  width: var(--input-label-focused-size);
  left: 0;
  top: 0;
  z-index: 3;
  padding: 10px;
  background-color: var(--maximum-purple);
  color: var(--white-smoke);
}

.inputWrapper {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1;
  background-color: var(--white-smoke);
  word-break: break-all;
  display: flex;
  align-items: center;
}
