.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--maximum-purple);
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-smoke);
  text-decoration: none;
  min-width: 75px;
  padding: 5px 10px;
}

.linkActive {
  background: var(--white-smoke);
  color: var( --maximum-purple);
  border-top: 1px solid var( --maximum-purple);
}

.linkIcon {
  font-size: 25px;
}

.linkLabel {
  margin-top: 5px;
}
