.cover {
    height: 100vh;
}

.coverWrapper {
    overflow: hidden;
}

.logo {
    width: 60%;
    margin: 10% 20%;
}

.login {
    width: 100%;
}

.content {
    height: 100vh;
}

@media (max-width: 600px) {
    .cover {
        display: none;
    }
}
